<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">

    <head th:insert="head :: head"></head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
</head>

<body>
<div th:insert="navbar :: navbar"></div>
    <div class="content">
        <form th:action="@{/finalEdit}" method="post" th:object="${fmember}" >

            <h3>Edit Medication</h3>
            <h4>Hi <span th:text="${fmember.fusername}"></span> </h4>
            <h5>Please make  adjustments to <span th:text="${cmedication.name}"></span></h5>

            <div class="input-group mb-3">
                <span class="input-group-text" id="inputGroup-sizing-default">Description</span>
                <input type="text" name= "name" class="form-control"
                       aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default"
                       th:field="${cmedication.mdRecommendations}">


            </div>

            <button class="btn btn-warning">
                <span class="glyphicon glyphicon-pencil" aria-hidden="true">Submit</span>
            </button>
        </form>

    </div>
</body>
</html>