
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

<head th:insert="head :: head"></head>
<body>
<!-- Responsive navbar-->
<div th:insert="navbar :: navbar"></div>
<!-- Page content-->
<div class="container">
  <h1>Medication Management</h1>
  <span th:text="${error}"></span>
  <form method="get" th:action="@{/register}" th:object="${fmember}">
    <div class="mb-3">
      <label class="form-label" for="name">User Name</label>
      <input class="form-control" id="name" name="fusername" type="name">
    </div>
    <!--<div class="mb-3">
      <label class="form-label" for="password">Password</label>
      <input class="form-control" id="password" name="password" type="password">
    </div>-->
    <button class="btn btn-primary" type="submit">Login</button>
  </form>
  <!-- <a th:href="@{/new-fmember}">Create new account</a>-->
</div>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="../js/scripts.js"></script>
</body>
</html>
