
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark" th:fragment="navbar">
    <div class="container">
        <a class="navbar-brand" th:href="@{/}">Medication Management</a>
        <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
                class="navbar-toggler"
                data-bs-target="#navbarSupportedContent" data-bs-toggle="collapse" type="button"><span
                class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item"><a class="nav-link active" aria-current="page" th:href="@{/home}">Home</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/new-fmember}">New family membert</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/register}">Add medication to a family member</a></li>
                <li class="nav-item"><a class="nav-link"  th:href="@{/all-fmembers}">Family Members</a></li>
                <li class="nav-item"><a class="nav-link"  th:href="@{/all-medications}">Medications</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/login}">login</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/logout}">logout</a></li>
               <!-- <li class="nav-item dropdown">
                    <a aria-expanded="false" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"
                       id="navbarDropdown" role="button">Admin</a>
                    <ul aria-labelledby="navbarDropdown" class="dropdown-menu dropdown-menu-end">
                        <li><a class="dropdown-item" th:href="@{/admin/all-fmembers}">Show All Family Members</a></li>
                        <li><a class="dropdown-item" th:href="@{/admin/all-medications}">Show All Medications</a></li>
                        <li><hr class="dropdown-divider" /></li>
                        <li><a class="dropdown-item" th:href="@{/admin/fmember-info}">Get Family Member by Name</a></li>
                        <li><a class="dropdown-item" th:href="@{#}">Get Medications for a Family member</a></li>
                    </ul>
                </li>-->
            </ul>
        </div>
    </div>
</nav>
</body>
</html>
