
<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

<head th:insert="head :: head"></head>
<body>
<div th:insert="navbar :: navbar"></div>
<!-- Page content-->
<div class="container">
    <h3>Medications Registration</h3>
   <h4>Current medications for <span th:text="${fmember.fusername}"></span></h4>

    <div class="table table-striped table-primary">
        <table class="ttop">
            <thead>
            <td width="20px"><b> ID</b></td>
            <td><b>NAME</b> </td>
            </thead>
        <tbody>
    <tr class="list-group" th:each="curMedication : ${currentmedications}">
            <td th:text="${curMedication.name}"> </td>
            <td th:text="${curMedication.mid}"></td>
            <td><a th:href="@{'/delete-fmedications' + ${curMedication.mid}}" class="btn btn-danger">Delete</a></td>
    </tr>
        </tbody>
        </table>
    </div>
    <h6>Available Medications </h6>
    <form id="medicationForm" method="post" th:object="${fmember}" >
        <div class="form-check" th:each="medication: ${medications}">
            <label class="form-check-label" for="medication" th:text="${medication.name}"></label>
            <input class="form-check-input" id="medication" th:field="*{fmedications}" th:value="${medication.mid}"
                   type="checkbox"/>
        </div>
       <input type="submit" name="Register Medications" />
    </form>
</div>
</body>
</html>
